<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel Test Suite" parallel="methods" thread-count="5">
    <test name="Test">
        <classes>
            <class name="tests.CreatePlayerTests"/>
            <class name="tests.DeletePlayerTests"/>
            <class name="tests.GetPlayerTests"/>
            <class name="tests.UpdatePlayerTests"/>
        </classes>
    </test>
</suite>
